:root {
    --red-range: rgb(255, 124, 124);
    --yellow-range: rgb(253, 188, 91);
    --green-range: rgba(135, 255, 135, 0.904);
}

/*
    linear-gradient(90deg, --red-range 30%,--yellow-range 60%, --green-range 100%);
*/

body {
    
    background: linear-gradient(90deg, #383838 0, #222222 100%);
}

main fieldset {
    position: relative;
    background: #ffffffd2;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.length {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    background: linear-gradient(90deg, rgb(255, 124, 124) 0%, #ffffff 20%);
    background-blend-mode: difference;
    border-radius: 12px;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    outline: none;
    height: 10px;
    width: 40%;
    
}

.length:hover {
    opacity: 1;
}

.length::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.length::before {
    content: '5';
    color: black;
    font-size: 1em;
    position: absolute;
    left: 3%;
    top: 37.5%;
}

.length::after {
    content: '25';
    color: black;
    font-size: 1em;
    position: absolute;
    right: 3%;
    top: 37.5%;
}

button[type="button"]{
    cursor: pointer;
}